.productDetailPage {
  padding: 2rem 0;
}

.backButton {
  background: none;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 8px 15px;
  border-radius: var(--border-radius);
  cursor: pointer;
  margin-bottom: 2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 1rem;
}

.backButton:hover {
  background-color: var(--primary-color);
  color: white;
}

.productContent {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap; /* Für Responsive Design */
  justify-content: center;
  background-color: var(--secondary-background-color);
  padding: 2.5rem;
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow-medium);
}

.productImageGallery {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
}

.mainImage {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
}

.productInfo {
  flex: 2;
  min-width: 300px;
  color: white;
}

.productName {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--heading-color);
}

.productPrice {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.productDescription {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--text-color-light);
}

.productDetails {
  font-size: 0.95rem;
  color: var(--text-color-light);
  margin-bottom: 2rem;
  border-top: 1px dashed var(--border-color);
  padding-top: 1.5rem;
}

.addToCartButton {
  background-color: var(--accent-color);
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.addToCartButton:hover {
  background-color: var(--accent-color-dark);
}

.productNotFound {
  text-align: center;
  padding: 5rem 0;
  font-size: 1.2rem;
  color: var(--text-color-light);
}

.backToShopButton {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 1.5rem;
  transition: background-color 0.3s ease;
}

.backToShopButton:hover {
  background-color: var(--primary-color-dark);
}

/* Responsive Anpassungen */
@media (max-width: 768px) {
  .productContent {
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
  }

  .productImageGallery,
  .productInfo {
    min-width: unset;
    width: 100%;
  }

  .productName {
    font-size: 2rem;
  }

  .productPrice {
    font-size: 1.8rem;
  }

  .addToCartButton {
    width: 100%;
  }
}