@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Dancing+Script:wght@400;500;600;700&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Orbitron:wght@400..900&family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Grundlegendes Reset */
*{
    margin: 0;
    padding: 0;
    -webkit-font-smothing: inherit;
    box-sizing: border-box;
}


html, body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth; /* Sanftes Scrollen */
    font-family: "Poppins", serif;
    /*background: #030303; /* Dunkler Hintergrund */
    background: linear-gradient(270deg,#9b9494, #000); /* von schwarz zu weiss */
    /*background: linear-gradient(90deg, #232323, #e5e5e5);*/ /* Heller Grauer Hintergrund */
    /*background: linear-gradient(180deg, #000000, #4a5c6b);*/ /* Dunkelblau zu Hellblau */
    color: #ffffff; /* Weißer Text */

    display: flex;
    align-items: center; /* Vertikale Zentrierung */
    justify-content: center; /* Horizontale Zentrierung */
}


/* ========== */

/* ===== Dark Mode Button ===== */
.theme-button {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    overflow: auto;   
}

/* ========== */

/* Hauptcontainer für horizontale Anordnung */
.main.container {
    display: flex;
    align-items: center;    
    flex-direction: row; 
    height: 100vh;
    width: auto;
    overflow-x: auto; /* Nur eine Scrollbar-Definition */
    overflow-y: hidden; /* Verhindert vertikales Scrollen */
    scrollbar-width: thin;  /* Für Firefox */
}

/* Webkit Scrollbar Styling (Chrome, Safari, Edge) */
.main.container::-webkit-scrollbar {
    width: 100%;         /* Breite statt Höhe für vertikale Scrollbar */
    background: #f1f1f1;
}

.main.container::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 4px;
}

.main.container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Boxen */
.box {
    flex: 0 0 38vw; /* Box1 hat 50% der Breite des Viewports */
    height: 55%;
    background: #111;
    margin: 8px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ===== Inhalt von Box1 ===== */

.box1{
    flex: 0 0 38vw; /* Box1 hat 50% der Breite des Viewports */
    height: 55%;
    background: #111;
    padding: 30px;
    border-radius: 20px;
    margin: 0 -22px 0 75px;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    transition: background-color 0.4s ease-in-out; /* Übergangseffekt für den Farbwechsel */
}

.box1:hover{
    cursor: pointer;
    background: #1f1e1e;
}

.box1 a{
    color: #fff;
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.box1 a:active{
    color: #fff;
    text-decoration: none;
}

.box1 .top{
    display: grid;
    margin: 5px 10px;
}

.box1 .top h4 p{
    display: flex;
    flex-direction: column;

}

.box1 .top img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
}

.box1 .top h4 {
    font-size: 1.5rem;
    margin-top: 15px;
}

.box1 .mid {
    margin: 30px 30px 0 10px;
}

.box1 .mid img {
    display: none;
    position: absolute;
    left: 30%;
    padding-bottom: 110px;
    height: 300px;
    z-index: 0;
}

.box1 .mid h2 {
    font-size: 1.8rem;
    line-height: 1.5;
    color: #ddd;
    font-family: "Host Grotesk", serif;
    font-weight: 400;
    z-index: 1;
}

.box1 .bot {
    margin-top: 110px;
    margin-left: 10px;
    font-size: 0.9rem;
    color: #bbb;
    z-index: 1;
}

/* ========== */

/* ===== Inhalt von Box2 ===== */

.box2 {
    flex: 0 0 28vw; /* Box1 hat 50% der Breite des Viewports */
    height: 63.2%;
    padding: 40px;

    /*display: flex;
    flex-direction: column;
    justify-content: space-evenly;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 15px;
}

.case {
    background-color: #111;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    border: 1px solid #fff;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    transition: background-color 0.4s ease-in-out; /* Übergangseffekt für den Farbwechsel */
}

.case:hover{
    cursor: pointer;
    background: #1f1e1e;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /*background-color: #222;*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #fff;
}

.icon img {
    width: 30px;
    height: 30px;
}

.text {
    display: flex;
    flex-direction: column;
}

.text .username {
    font-weight: 600;
    font-size: 1rem;
}

.text .followers {
    font-weight: 400;
    font-size: 0.9rem;
    color: #bbb;
}

/* Full-width email box */
.email-box {
    grid-column: 1 / -1;
    justify-content: center;
    background-color: #111;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    transition: background-color 0.4s ease-in-out; /* Übergangseffekt für den Farbwechsel */
}

.email-box:hover{
    cursor: pointer;
    background: #1f1e1e;
}

.email-box img{
    width: 40px;
    height: 40px;
}

/* Anpassung für große Boxen */
.large_box {
    grid-row: span 2; /* Box nimmt die Höhe von zwei Zeilen ein */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ========== */

/* ===== Inhalt von Box3 ===== */

.box3{
    flex: 0 0 18vw; /* Box1 hat 50% der Breite des Viewports */
    margin-left: -22px;
    border: 1px solid #fff;
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 1);
    overflow: hidden; /* Verhindert, dass das Bild über den Rahmen hinausragt */
}

.box3 img{
    height: 95%;
    width: 94%;
    border-radius: 5px;
    margin-left: 10px;
}

.box3 img:hover{
    border: 3px solid #1f1e1e;
}

/* ===== Inhalt von Box4 ===== */

.box4{
    display: flex;
    flex-direction: column; /* Elemente werden vertikal gestapelt */

    flex: 0 0 34vw;
    height: 54.2%;
    margin: 0 10px;
    margin-bottom: 5px;
    gap: 15px;
}

.box4 img:hover{
    border: 3px solid #1f1e1e;
}

.box4 .box_top{
    height: 40%;
}

.box_top{
    display: flex;
    flex-direction: row;
    gap: 17px;
}

.box_top img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #fff;
}

.box_top .first{
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 1);
}

.box_top .first img{
    height: 80%;
    width: 80%;
}

.box_top .second{
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 1);
}

.box4 .full_width{
    height: 35%;
    width: 100%;
    border-radius: 20px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 1);
    border: 1px solid #fff;
}

.box4 .line01{
    height: 20%;
}

.box4 .line01 img{
    height: 78%;
    width: 97%;
    margin: 10px 0 0 10px;
    border-radius: 7px;
}

.box4 .line02 img{
    height: 87.5%;
    width: 97%;
    margin: 10.5px 0 0 10px;
    border-radius: 7px;
}

/* ========== */

/* ===== Inhalt von Box5 ===== */

.box5{
    flex: 0 0 18vw; /* Box1 hat 50% der Breite des Viewports */
    border: 1px solid #fff;
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 1);
    transition: background-color 0.4s ease-in-out; /* Übergangseffekt für den Farbwechsel */
}

.box5 img{
    height: 96%;
    width: 94%;
    border-radius: 5px;
    margin-left: 10px;
}

.box5 img:hover{
    border: 3px solid #1f1e1e;
}

/* ========== */

/* ===== Inhalt von Box6 ===== */

.box6{
    flex: 0 0 23vw; /* Box1 hat 50% der Breite des Viewports */
    border: 1px solid #fff;
    margin: 0 10px;
}

/* Allgemeiner Container */
.post-container {
    background-color: #111;
    border-radius: 20px;
    width: 350px;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 1);
    transition: background-color 0.4s ease-in-out; /* Übergangseffekt für den Farbwechsel */
}
  
.post-container:hover{
    background: #1f1e1e;
}

/* Header mit Instagram-Icon */
.header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
  
.header .icon {
    width: 30px;
    height: 30px;
    margin: 10px;
    margin-bottom: 13px;
}
  
/* Bildcontainer */
.image-container {
    width: 100%;
    height: 75%;
    overflow: hidden;
    cursor: grab;
}
  
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }
  
/* Punkte unter dem Bild */
.dots {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 10px 0;
}
  
.dot {
    width: 8px;
    height: 8px;
    background-color: gray;
    border-radius: 50%;
}
  
.dot.active {
    background-color: white;
}
  
/* Footer mit Text */
.lower_section {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
}
  

/* ========== */

/* ===== Inhalt von Box7 ===== */

.box7{
    flex: 0 0 18vw; /* Box1 hat 50% der Breite des Viewports */
}

.box7 .lite{
    background-color: #111;
    border-radius: 20px;
    padding: 30px;
    height: 165px;
    margin: 12px 12px 12px 8px;

    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    transition: background-color 0.4s ease-in-out; /* Übergangseffekt für den Farbwechsel */
}

.box7 .lite:hover{
    cursor: pointer;
    background: #1f1e1e;
}

/* ========== */

/* ===== Inhalt von Box8 ===== */

.box8{
    flex: 0 0 12vw; /* Box1 hat 50% der Breite des Viewports */
    margin: 0 500px 0 8px;
    border: 1px solid #fff;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    transition: background-color 0.4s ease-in-out; /* Übergangseffekt für den Farbwechsel */
}

.box8:hover{
    cursor: pointer;
    background: #1f1e1e;
}


h2 {
    color: #fff;
  }
  
  .form-box {
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    text-align: center;
    transition: transform 0.6s ease;
  }
  
  .form-box:hover {
    transform: translateY(-10px);
  }
  
  .form-box p {
    font-size: 16px;
    color: #969696;
    margin-bottom: 30px;
  }
  
  input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease;
  }
  
  input:focus, textarea:focus {
    border-color: #d4ba61;
    outline: none;
  }
  
  button {
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #d4ba61;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #afa849;
  }
  
  button:focus {
    outline: none;
  }


  textarea {
    resize: vertical;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }

/* ========== */ 





/* Footer */
/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 0.9rem;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer a:active {
    color: #fff;
}

/* Hover-Effekt */

#instagram_link {
    transition: text-decoration 0.3s ease; /* Sanfte Übergänge */
}

/* Info-Container */
.info-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Info-Dropdown */
.info-dropdown {
    display: none; /* Standardmäßig versteckt */
    position: absolute;
    bottom: 100%; /* Zeige die Box oberhalb */
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    text-align: center;
    min-width: 150px;
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 1);
}

/* Dropdown-Link */
.info-dropdown a {
    display: block;
    margin: 5px 0;
    color: #fff;
    text-decoration: none;
}

.info-dropdown a:hover {
    text-decoration: underline;
}

/* Verbindungslinie */
.info-dropdown hr {
    margin: 0;
    border: 0;
    height: 2px;
    background-color: white;
    width: 80%; /* Passe die Breite an */
    margin-bottom: 10px; /* Abstand zwischen Strich und Links */
}

/* Dropdown anzeigen beim Hover */
.info-container:hover .info-dropdown {
    display: block;
}

/* Responsive Design */
@media (max-width: 600px) {
    .footer {
        font-size: 0.8rem;
        padding: 8px;
    }
    
    .info-dropdown {
        min-width: 120px;
        font-size: 0.8rem;
    }
}


/* Cookie Banner */
.cookie-banner {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    position: fixed;
    bottom: 30px;
    right: 0px;
    left: 20px;
    width: 400px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    text-align: center;
    display: none;
    animation: fadeIn 0.5s ease-in-out;
}

.cookie-buttons button {
    margin: 5px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.cookie-content h4{
    margin-bottom: 3px;
}

.cookie-content .cookie-buttons{
    margin-top: 10px;
}

.accept {
    background-color: #d4ba61;
    color: white;
}

.accept:hover {
    background-color: #cac16c;
}

.reject {
    background-color: linear-gradient(to right, #3b3b3b, #b3b3b3);
    color: white;
}

.reject:hover {
    background-color: linear-gradient(to right, #646464, #b3b3b3);
}

.settings {
    background-color: #ffa000;
    color: white;
}

.settings:hover {
    background-color: #ff8f00;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}




/* ===== Responsive */

@media(max-width: 810px){
    .main.container{
        display: flex;
        flex-direction: column;
    }

    .box{
        margin: 10px 20px;
        width: 100%;
    }

    .box1{
        margin-top: 70px;
    }

    .box2{
        grid-template-columns: 1fr;
        margin-bottom: 220px;
    }

    .email-box {
        grid-column: auto;
    }

    .bottom-box {
        grid-template-columns: 1fr;
    }
}

